<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCTV_LIST</title>

    <link href="{{  url_for('static', filename='css/menu.css') }}" rel="stylesheet">
</head>
<body>

    <header>
        <h3>CCTV_LIST</h3>
    </header>

    <section>
        <table>
            <thead>
                <th>시간</th>
            </thead>
        {% for row in rows %}
            <tbody>
                <td>{{row}}</td>
                <td></td>
            </tbody>
        {% endfor %}
        </table>
        <table>
            <thead>
                <th>캡처된 사진</th>
            </thead>
        {% for row2 in rows2 %}
            <tbody>
                <td><img style="width:75px; height: 75px;" src="/static/cctv_img/{{row2}}"></td>
            </tbody>
        {% endfor %}
        </table>
        
    </section>
</body>
</html>