<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>iot 관리시스템</title>

  <link href="{{  url_for('static', filename='css/menu.css') }}" rel="stylesheet">
</head>
<body>
    <header>
      <h3>iot server page</h3>
    </header>

    <section class="user_box">
      <div>
        <h4>접속자 정보를 나타내는 곳</h4>
      </div>
    </section>

    <section>
      <div class="iot_button"><a href="">CCTV</a></div>
      <div class="iot_button"><a href="">Gas</a></div>
      <div class="iot_button"><a href="">Temperature</a></div>
      <div class="iot_button"><a href="">Dust</a></div>
    </section>

</body>
</html>